{{> header}}
<div class="container">

  <div class="row overflow-hidden shadow mx-auto" style="border-radius: 20px">
    <!-- Users box-->
    <div class="col-4 px-0">
      <div class="bg-white">
        <div class="bg-gray px-4 py-3 bg-light">
          <p class="h5 mb-0 py-1">Users</p>
        </div>

        <div class="messages-box">
          <div class="list-group">
            {{#each users}}
            <a href="/chat/{{this.id}}" id="{{this.id}}" class="list-group-item list-group-item-action">
              <div class="media">
                <img src="/images/user.jpg" alt="user" width="60" height="60" class="rounded-circle">
                <div class="media-body col-sm-12 col-md-12 d-none d-lg-block">
                  <div class="d-flex align-items-center justify-content-between">
                    <h6  class="mb-1">{{this.name}}</h6> 
                    {{!-- <small class="small font-weight-bold">25 Dec</small> --}}
                  </div>
                  <p class="font-italic text-small">Nhấp vào để hiện tin nhắn.</p>
                </div>
              </div>
            </a>
            {{/each}} 
          </div>
        </div>
      </div>
    </div>
    <!-- Chat Box-->
    <div class="col-8 px-0">
      <div class="bg-gray px-4 py-2 bg-light">
          <p class="h5 mb-0 py-1"><img class="mr-2 rounded-circle" src="/images/user.jpg" alt="user" width="40" height="40" >{{receiver_fullname}}</p>
      </div>
      <div class="px-4 py-5 chat-box bg-white">
        <!-- Sender Message-->
        <div id="chat" data-roomid="{{roomid}}" data-userid="{{userid}}">
            {{#each messages}} 
              <div class="media w-50 mb-3 {{this.style}}">
                <div class="media-body">
                    <div class="py-3 px-3 mb-2 chatradius ">
                      <p class="text-break text-small mb-0">{{this.message}}</p>
                    </div>
                      <p class="small text-muted ml-3">{{this.time}}</p>
                </div>
              </div>
            {{/each}}
        </div>
      </div>

      <!-- Typing area -->
      <div class="bg-light h-100">
        <div class="input-group">
          <input type="text" id="messageBox" style="border-radius:20px" placeholder="Type a message" aria-describedby="button-addon2" class="form-control border-2 py-4 bg-light ml-3">
          <div class="input-group-append">
            <button id="image_send" type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-picture-o"></i></button>
            <button disabled id="send" type="submit" class="btn btn-link mr-4"> <i class="fa fa-paper-plane"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>

  const sendBtn = document.querySelector('#send');
  const messageBox = document.querySelector('#messageBox');
    let user_seclected = document.getElementById('{{receiver_id}}');
    user_seclected.classList.add("bg-info","text-white");

    const chatBox = document.getElementById("chat")
    const {userid, roomid} = chatBox.dataset
    
    const socket = io()
    socket.emit("joinRoom", roomid)

    socket.on("joined", m => {
        console.log(m)
    })
  
     

    //get message form server
    socket.on("message", get => {
        showMessage(get.message, "hoder")
    })
    
    //send message to server
    sendBtn.onclick = function sendMessage() {
        socket.emit("chat", {user: userid, message: messageBox.value, room: roomid, time: new Date()})
        showMessage(messageBox.value, "me");
        sendBtn.setAttribute("disabled","disabled");
    }

    messageBox.addEventListener("keypress", function(event) {
        if(event.key !==' ')
            {
              sendBtn.removeAttribute("disabled");  
            }
        if (event.key === "Enter") {
            event.preventDefault();
            sendBtn.click();
            sendBtn.setAttribute("disabled","disabled");
        }
    })
        
    function showMessage(content, term) {
        let d1 = document.createElement('div')
        let d2 = document.createElement('div')
        let d3 = document.createElement('div')
        let p1 = document.createElement('p')
        let p2 = document.createElement('p')

        d1.classList.add("media","w-50","mb-3",term)
        d2.classList.add("media-body")
        d3.classList.add("py-3","px-3","mb-2","chatradius")
        p1.classList.add("text-break","text-small","mb-0")
        p2.classList.add("small","text-muted","ml-3")
        p1.innerHTML = content
        let time = new Date();
        p2.innerHTML = time.getDate()+'-'+(time.getMonth()+1)+'-'+time.getFullYear()+' '
            +time.getHours()+":"+time.getMinutes()
       
        d3.appendChild(p1)
        d2.appendChild(d3)
        d2.appendChild(p2)
        d1.appendChild(d2)
        chatBox.appendChild(d1);
        chatBox.scrollTop = chatBox.scrollHeight;
        messageBox.value = '';
    }
</script>
