{{> header}}
<div class="container my-auto">
  <table class="table table-hover table-striped border">
    <thead>
      <tr>
          <th>Họ và tên</th>
          <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
          <tr id="{{this.id}}">
              <td> 
                <a class='list-group-item list-group-item-action' href="/chat/{{this.id}}">
                  <img class="img-profile rounded-circle width="32" height="32"" src="/images/user.jpg">
                  <b>{{this.name}}</b>
                </a>
              </td>
              <td>{{this.email}}</td>
          </tr>
      {{/each}}
    </tbody>
  </table>
  <p id="total">Tổng số người dùng: <strong class="text-danger">{{users.length}}</strong></p>
  {{!-- <ul id="list-account-grid">
    <li id='list-account-grid-item'>
      <div class="bg-white mb-3">
        <img class="h-15 w-15" src="/images/user.jpg" alt="Card image cap">
        <div class="text-center">Vỷ</div>
        <button class="btn btn-success justify-content-center">Nhắn tin</button>
      </div>
    </li>
  </ul> --}}
</div>
{{> footer}}
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();
</script>                               

